@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@160..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@layer base {
  .background {
    background: rgb(2, 44, 34);
    background: linear-gradient(100deg, rgba(2, 44, 34, 1) 0%, rgba(10, 10, 10, 1) 45%);
  }
}

@layer components {
  .form {
    @apply w-full flex gap-[5%] appearance-none hover:appearance-none hover:border-none focus:outline-none focus:border-none max-md:flex-col max-md:gap-4 max-md:justify-center max-md:items-center;
  }

  .input {
    @apply w-[75%] bg-neutral-900 p-3 border border-neutral-800 rounded-lg
    transition hover:duration-300 hover:border-emerald-400 hover:bg-neutral-700 focus:border-emerald-400 focus:ring-1 focus:ring-emerald-400 focus:outline-none
    max-md:w-full;
  }

  .button {
    @apply w-[20%] flex justify-center items-center py-3 px-1 bg-emerald-500 border border-emerald-400 rounded-lg cursor-pointer
    transition hover:duration-300 hover:bg-emerald-600 ring-emerald-400 hover:ring-1 active:bg-emerald-700
    max-md:w-[50%];
  }
}
